@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #5e366e;
  --primary-200: #8c619d;
  --primary-300: #f0c0ff;
  --accent-100: #a63a50;
  --accent-200: #ffcddc;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

@font-face {
  font-family: "Quitella";
  src: url("src/fonts/Quitella-Regular.woff2") format("woff2"),
    url("src/fonts/Quitella-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cafieg";
  src: url("src/fonts/Cafieg.woff2") format("woff2"),
    url("src/fonts/Cafieg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Quit {
  font-family: "Quitella", sans-serif;
}

.Caf {
  font-family: "Cafieg", sans-serif;
}


